# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.o
*.a
*.out

# Go build artifacts
/bin/
/pkg/
*.test

# Go modules
go.sum
go.mod~

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo

# Logs and temp files
*.log
*.tmp
*.cache
*.DS_Store

# Ignore .aliases.json
.aliases.json
